{% extends "ventas/base.html" %}

{% block contenido %}

<h2>Buscar Baldosa</h2>

<form method="GET">

    <input type="text" name="modelo" placeholder="Buscar por modelo" value="{{ modelo }}" style="
        width: 100%;
        margin-bottom: 25px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
    ">

    <div style="margin-top: 20px; text-align: center;">
        <button type="submit" style="
            padding: 10px 20px;
            border-radius: 10px;
            font-weight: bold;
        ">
            Buscar
        </button>
    </div>

</form>

<ul style="margin-top: 25px;">
    {% for b in baldosas %}
        <li style="margin-bottom: 10px;">
            {{ b.modelo }} - {{ b.color }} - ${{ b.precio }}<br>
            <strong>Proveedor:</strong> {{ b.proveedor.nombre }} - {{ b.proveedor.telefono }}
        </li>
    {% empty %}
        <li>No se encontraron baldosas.</li>
    {% endfor %}
</ul>

{% endblock %}