{% extends "ventas/base.html" %}

{% block contenido %}

<h2>🔍 BUSCAR PROVEEDORES</h2>

<form method="GET">

<input type="text" name="nombre" placeholder="Buscar por nombre" style="
    width: 100%;
    margin-bottom: 10px;
">

<div style="margin-top: 10px;">
    <button type="submit" style="
        background-color: #8B5CF6;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        font-weight: normal;
        font-size: 14px;
    ">
        BUSCAR
    </button>
</div>

</form>

<div style="margin-top: 10px;">
    <a href="{% url 'proveedor_inicio' %}" style="
        background-color: #8B5CF6;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        font-weight: normal;
        font-size: 14px;
    ">
        VOLVER
    </a>
</div>

<hr>

<ul style="margin-top: 20px;">
    {% for p in proveedores %}
        <li>{{ p.nombre }} - {{ p.email }}</li>
    {% endfor %}
</ul>

{% endblock %}

