{% extends "ventas/base.html" %}

{% block contenido %}

<h2 style="margin-bottom: 20px;"> 🗑️ ELIMINAR CLIENTE</h2>

<div style="
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
">

    <p><strong>¿Deseas eliminar el cliente seleccionado?</strong></p>

    <p><strong>Nombre:</strong> {{cliente.nombre}}</p>
    <p><strong>Email:</strong> {{cliente.email}}</p>   

</div>

<div style="margin-top: 20px; display: flex; gap: 10px; flex-wrap: wrap;">

   <form method="POST" action="?nombre={{ nombre }}">
        {% csrf_token %}

        <button type="submit" style="
            background-color: #8B5CF6;
            color: white;
            padding: 10px 20px;
            border-radius: 10px;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            font-weight: normal;
            font-size: 14px;
        ">
            ELIMINAR
        </button>
    </form>

    <a href="{% url 'buscar_cliente' %}?nombre={{ nombre }}" style="
        background-color: #8B5CF6;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        font-weight: normal;
        font-size: 14px;
    ">
        VOLVER
    </a>

</div>

{% endblock %}