{% extends "ventas/base.html" %}

{% block contenido %}

<h2>📊 REPORTE DE CLIENTES</h2>

<div style="width:100%; overflow-x:auto;">

<table border="1" style="
    width:500px;
    text-align:center;
    border-collapse: collapse;
    table-layout: fixed;
">

    <thead style="background-color:#ddd;">
        <tr>
            <th style="width:4%; padding:12px;">Nombre</th>
            <th style="width:4%; padding:12px;">Mail</th>

        </tr>
    </thead>

    <tbody>
        {% for c in clientes %}
        <tr>
            <td style="padding:10px;">{{ c.nombre }}</td>
            <td style="padding:10px;">{{ c.email}}</td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="7" style="padding:15px;">
                No hay clientes
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

</div>

<br>

<a href="{% url 'buscar_cliente' %}?nombre={{ nombre }}" style="
    background-color: #8B5CF6;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
">
    VOLVER
</a>

{% endblock %}