{% extends "ventas/base.html" %}

{% block contenido %}


<h2>🔍 BUSCAR DISEÑO</h2>

<form method="GET">
  <input type="text" name="nombre" placeholder="Nombre del producto">

 <div style="margin-top: 10px;">
    <button type="submit" style="
        background-color: #8B5CF6;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        font-weight: normal;
        font-size: 14px;
    ">
        BUSCAR
    </button>
</div>

<div style="margin-top: 10px;">
    <a href="{% url 'productos' %}" style="
        background-color: #8B5CF6;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        font-weight: normal;
        font-size: 14px;
    ">
        VOLVER
    </a>
</div>

<hr>

{% if productos %}
  {% for producto in productos %}
    <div>
      <h3>{{ producto.nombre }}</h3>
      <p>Precio: {{ producto.precio }}</p>

      {% if producto.imagen %}
        <img src="{{ producto.imagen.url }}" width="150">
      {% endif %}

      <br>

      
    <div style="display: flex; gap: 10px; margin-top: 10px;">

      <!-- Ver detalle -->
      <a href="{% url 'producto_detalle' producto.id %}" style="
        background-color: #8B5CF6;
        color: white;
        padding: 8px 12px;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
    ">
        Ver más detalles
    </a>

       <a href="{% url 'producto_detalle' producto.id %}" style="
        background-color: #8B5CF6;
        color: white;
        padding: 8px 12px;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
    ">
        Editar
    </a>

       <a href="{% url 'producto_detalle' producto.id %}" style="
        background-color: #8B5CF6;
        color: white;
        padding: 8px 12px;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
    ">
        Eliminar
    </a>
  </div>

    </div>
    <hr>
  {% endfor %}

{% elif nombre %}
  <p>No se encontraron resultados.</p>
{% endif %}

{% endblock %}