{% extends "ventas/base.html" %}

{% block contenido %}

<h2 style="text-align:center; color:#8B5CF6;">
    {{ object.nombre }}
</h2>

<p><strong>Color:</strong> {{ object.color }}</p>
<p><strong>Precio:</strong> ${{ object.precio }}</p>
<p><strong>Descripción:</strong><br> {{ object.descripcion }}</p>

{% if object.imagen %}
  <div style="text-align:center;">
    <img src="{{ object.imagen.url }}" width="200" style="
        border-radius: 10px;
        border: 2px solid #8B5CF6;
    ">
  </div>
{% endif %}

<br>

<div style="display: flex; gap: 10px; justify-content: center;">


    <a href="{% url 'productos' %}" style="
        background-color: #8B5CF6;
        color: white;
        padding: 8px 12px;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
    ">
        Ver más detalles
    </a>

    <a href="{% url 'buscar_producto' %}" style="
        background-color: #8B5CF6;
        color: white;
        padding: 8px 12px;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
    ">
        Volver
    </a>

</div>

{% endblock %}